body, html{
    min-height: 100%;
    background: url(./congruent_pentagon.png);
    margin-bottom: -50px;
}

h2, h3{
    margin: 5px 0px;
}

.border-jumbo{
    border-bottom: 3px inset black;
}

.success{
    border: solid 2px green;
}

.msg-text{
    background-color: red;
    color: white;
    text-align: center;
}

.content-wrap{
    box-shadow: 2px 2px black ;
}

.failure{
    border: solid 2px red;
}

.container{
    margin: auto;
    text-align: center;
    background: #777;
}

.password-holder{
    border: 4px groove transparent;
}

.options-list{
    border: 4px groove transparent;
}
.options-list li input:checked{
    border: 4px groove purple;
}

.footer{
    border-top: 5px inset black;
}
#generated-password{
    line-height: 40px;
}
#pswd-length{
    background: #292b2c;
    color: #292b2c;
}
#resource-credits{
    font-size: 12px;
}

.character-set-selected{
    background: red;
}

/* Width at 336px and below */
@media screen and (max-width: 336px) {
    .xs-screen{
        font-size: 14px;
    }
}