body {
  background: url(../images/congruent_pentagon.png);
}

h2,
h3 {
  margin: 5px 0px;
}
.fa {
  color: #020202;
}

:root {
  --main-color: #b1f6cb;
}
.brand-text {
  font-weight: 400;
  color: var(--main-color);
  text-shadow: #010101 1px 1px;
}
.main-mane {
  margin-bottom: 3.3rem;
}
.l-group {
  padding: 0 !important;
}
.list-group-item:hover {
  cursor: pointer;
}
.list-group-item input {
  display: none;
}

.jimmyjumbo {
  margin-bottom: 3.3rem;
  border-bottom: 3px inset black;
}
#copy-button-inside,
#refresh-button-inside {
  display: block;
  margin: 0;
  margin-left: 0.25rem;
  background: var(--main-color) !important;
  border: 1px #02020233 solid;
}
#copy-button-outside,
#refresh-button-outside {
  display: none;
}

.msg-text {
  background-color: rgb(219, 0, 0);
  color: #ffffff;
  text-align: center;
  font-size: smaller;
}

.content-wrap {
  box-shadow: 2px 2px #010101;
}

.container {
  margin: auto;
  text-align: center;
  background: #777;
}
.alert-mode {
  background: #0101019c !important;
  filter: blur(.05em);
  transition: .12s ease-out;
}
.password-holder {
  position: relative;
  border: 4px groove transparent;
}
.copied-toast {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  font-family: monospace !important;
  text-transform: uppercase;
  position: absolute;
  right: 50%;
  top: 17%;
  padding: 0 0.5rem;
  letter-spacing: 2px;
}
.btn-custom {
  padding: 0.25rem 0.5rem;
  border-radius: 0 !important;
  border: 1px outset transparent;
  background: var(--main-color);
  color: #f7f7f7;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5;
}
.btn-custom:hover {
  border-color: #02020233;
  opacity: 0.876543219;
  transition: 0.5s ease;
}
.options-list {
  border: 4px groove transparent;
}
.options-list li input:checked {
  border: 4px groove purple;
}
.footer {
  border-top: 5px inset black;
}
#generated-password {
  line-height: 40px;
  border: 1px #02020233 solid;
  box-shadow: #02020211 2px 2px inset;
}
#pswd-length {
  background: #292b2c;
  color: #292b2c;
  padding: 0.15rem;
}
#resource-credits {
  font-size: 8px;
  padding: 0;
  line-height: 12px;
}

.character-set-selected {
  background: rgb(219, 0, 0);
  color: #ffffff;
}

/* Width at 576px and below */
@media screen and (max-width: 576px) {
  .s-screen {
    font-size: 18px;
  }

  .copied-toast {
    left: 17%;
  }
}
/* Width at 336px and below */
@media screen and (max-width: 336px) {
  .xs-screen {
    font-size: 14px;
  }
  #copy-button-inside,
  #refresh-button-inside {
    display: none;
  }
  #copy-button-outside,
  #refresh-button-outside {
    display: block;
    line-height: 0;
  }
}
